@layout Casterr.Pages.Special.SpecialLayout

@page "/special/notification/{notifyText}/{icon}"

<div class="notificationContainer">
    <div class="content">
        <Icon i=@Icon wh="45" />
        <span class="title">@NotifyText</span>
    </div>
</div>

@code {
    [Parameter]
    public string NotifyText { get; set; } = "Something Happened . . .";

    [Parameter]
    public string Icon { get; set; } = "play";
}
