@page "/settings/general"

@using Casterr.Shared.UI
@using Casterr.SettingsLib

@inject SettingsManager sm
@inject GeneralSettings gs

<div class="settings">
  <span class="pageTitle">General Settings</span>

  <div class="setting">
    <span class="title">Startup Page:</span>
    <DropDown Name="startupPage" Items="@startupPageItems" Placeholder="@gs.StartupPage" OnSelectedChanged=@UpdateSettings />
  </div>
</div>

@code {
  List<string> startupPageItems = new List<string> { "Recordings", "Uploads", "Settings", "Profile" };

  protected override void OnInitialized()
  {
    sm.GetSettings(gs);
  }

  public void UpdateSettings(string name, string newValue)
  {
    switch (name)
    {
      case "startupPage":
        gs.StartupPage = newValue;
        break;
    }

    sm.UpdateSettingsFile(gs);
  }
}
