@page "/settings/keybinding"

@using Casterr.Shared.UI
@using Casterr.SettingsLib

@inject SettingsManager sm
@inject KeyBindingSettings kbs

<div class="settings">
    <span class="pageTitle">Key Binding Settings</span>

</div>

@code {
    protected override void OnInitialized()
    {
        sm.GetSettings(kbs);
    }
}