* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #e1e1e1;
  background-color: #2D2B37;
  font-family: sans-serif;
  user-select: none; }

a {
  color: #e1e1e1;
  text-decoration: none; }

nav {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #272530; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline-block;
      color: #e1e1e1;
      font-size: 24px;
      padding: 10px 15px;
      margin: 0 5px; }
      nav ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 250ms ease; }
        nav ul li a svg {
          margin: 0 8px 0 0; }
        nav ul li a:hover {
          color: rgba(225, 225, 225, 0.5);
          fill: rgba(225, 225, 225, 0.5); }
