<div class="dragger">
    <div class="minMaxClose">
        <div class="close">
            <Icon i="close" wh="12" />
        </div>
        <div class="max">
            <Icon i="max" wh="12" />
        </div>
        <div class="min">
            <Icon i="min" wh="12" />
        </div>
    </div>
</div>

@code {

}
