<nav>
    <ul>
        <li>
            <NavLink href="recordings">
                <Icon i="play" />
                <span>Recordings</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="uploads">
                <Icon i="upload" />
                <span>Uploads</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="settings">
                <Icon i="settings" />
                <span>Settings</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="profile">
                <Icon i="play" />
                <span>Profile</span>
            </NavLink>
        </li>
    </ul>
</nav>
