<div class="notifierContainer @hiddenClass">
  <div class="notification">
    <span class="title">@description</span>

    <div class="progressBar">
      <div class="inner" style="width: @percentage%"></div>
    </div>
  </div>
</div>

@inject IJSRuntime JSRuntime

@code {
  private string hiddenClass = "hidden";
  private string description = "";
  private int percentage = 0;

  protected override void OnAfterRender(bool firstRender)
  {
    if (firstRender)
      HelpersLib.ProgramStatus.TaskRunning += NotifyUser;
  }

  private void NotifyUser(bool doing, string desc, int percent)
  {
    // If done, then hide notifier
    if (doing)
    {
      hiddenClass = "";
      description = desc;
      percentage = percent;
    }
    else
    {
      hiddenClass = "hidden";
    }

    InvokeAsync(() =>
    {
      StateHasChanged();
    });
  }
}
