<div class="notifierContainer @hiddenClass">
  <div class="notification">
    <span class="title">@description</span>

    <progress value="32" max="100" />
  </div>
</div>

@code {
  private string hiddenClass = "hidden";
  private string description = "";

  protected override void OnAfterRender(bool firstRender)
  {
    if (firstRender)
      HelpersLib.ProgramStatus.TaskRunning += NotifyUser;
  }

  private void NotifyUser(bool doing, string desc)
  {
    // If done, then hide notifier
    if (doing)
    {
      hiddenClass = "";
      description = desc;
    }
    else
    {
      hiddenClass = "hidden";
    }

    InvokeAsync(() =>
    {
      StateHasChanged();
    });
  }
}
