<div class="videoPlayerContainer">
  <video height="400" controls>
    <source src="data:video/mpeg;base64,@(Convert.ToBase64String(System.IO.File.ReadAllBytes("/home/sbondo/Videos/Casterr/06.09.2020 - 21.00.05.mp4")))" type="video/mp4">
  </video>
</div>
