/// <reference path="../_Vars.scss" />

.dropDownContainer {
  position: relative;
  display: inline-block;
  min-width: 160px;
  width: 100%;
  padding: 8px;
  background-color: $secondaryColor;
  border-radius: 4px 4px 0 0;
  cursor: pointer;

  label {
    transition: all 250ms ease;
    cursor: pointer;
  }

  ul {
    display: none;
    position: absolute;
    right: 0;
    max-height: 160px;
    width: 100%;
    margin: 8px 0 0 0;
    z-index: 1;
    overflow-y: auto;
    border-radius: 0 0 4px 4px;
    cursor: pointer;

    li {
      width: 100%;
      padding: 8px;
      list-style: none;
      background-color: $secondaryColor;
      cursor: pointer;

      &.active {
        background-color: $quaternaryColor !important;
      }

      &:hover {
        background-color: $tertiaryColor;
      }
    }

    &.opened {
      display: block;
    }

    &::-webkit-scrollbar {
      width: 5px;
      background: $primaryColor;
    }

    &::-webkit-scrollbar-thumb {
      background: $tertiaryColor;
      -webkit-border-radius: 1ex;
    }
  }
}
