@page "/"

@namespace Casterr.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
  <base href="~/" />
  <link href="css/Main.min.css" rel="stylesheet" />
  <title>Casterr</title>
</head>
<body>
  <app>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
  </app>

  <script src="_framework/blazor.server.js"></script>
</body>
</html>
