@page "/recordings"

<div class="recordingsContainer">
  <div class="thumbContainer">
    @for (int i = 0; i < 6; i++)
    {
      <div class="thumb">
        <img src="https://i.imgur.com/PRImvGE.png" alt="" />

        <div class="info">
          <span class="title">Trock Dioes</span>
        </div>
      </div>
    }
  </div>
</div>
