/// <reference path="../Main.scss" />

.recordingsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  max-width: 1600px;

  .thumb {
    flex-grow: 1;
    width: 25%;
    height: 250px;
    margin: 10px;
    background-color: $quaternaryColor;
    border-radius: 4px;
    overflow: hidden;

    .inner {
      position: relative;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .noThumb {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 25px;
      }
  
      .info {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
    
        .title {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 40px;
          padding: 0 10px;
          line-height: 40px;
          background-color: rgba(30, 30, 37, .5);
          font-weight: 700;
        }

        .edit {
          display: none;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          svg {
            fill: $textPrimary;
            filter: drop-shadow(0 0 5px $primaryColor);
          }
        }

        &:hover > .edit {
          display: flex;
        }
      }
    }

    @media (max-width: 800px) {
      width: 50%;
    }

    @media (min-width: 800px) and (max-width: 1000px) {
      width: 33%;
    }

    @media (min-width: 1200px) {
      width: 25%;
    }
  }
}
