/// <reference path="_Vars.scss" />

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    min-height: 48px;
    background-color: $secondaryColor;

    ul {
        list-style: none;

        @media (min-width: 910px) {
            animation: comeDown 250ms forwards;
            position: fixed;
        }

        @keyframes comeDown {
            from {
                top: -100px;
            }

            to {
                top: 0px;
            }
        }

        li {
            display: inline-block;
            color: $textPrimary;
            font-size: 24px;
            padding: 10px 15px;
            margin: 0 5px;
            cursor: pointer;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color 250ms ease;
            }

            svg {
                fill: $textPrimary;
                margin: 0 8px 0 0;
                transition: fill 250ms ease;

                @media (max-width: 910px) {
                    transition: width 250ms ease;
                    margin: 0;
                    width: 80px;
                }

                @media (max-width: 600px) {
                    width: 20px;
                }
            }

            span {
                @media (max-width: 910px) {
                    display: none;
                }
            }

            &:hover {
                a, svg {
                    color: $textPrimaryHover;
                    fill: $textPrimaryHover;
                }
            }
        }
    }
}