/// <reference path="_Vars.scss" />

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: $secondaryColor;

    ul {
        list-style: none;

        li {
            display: inline-block;
            color: $textPrimary;
            font-size: 24px;
            padding: 10px 15px;
            margin: 0 5px;
            cursor: pointer;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: color 250ms ease;
            }

            svg {
                fill: $textPrimary;
                margin: 0 8px 0 0;
                transition: fill 250ms ease;
            }

            &:hover {
                a, svg {
                    color: $textPrimaryHover;
                    fill: $textPrimaryHover;
                }
            }
        }
    }
}