/// <reference path="_Vars.scss" />

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: .8rem;
    }

    &::-webkit-scrollbar-track {
        background: $primaryColor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $darkAccentColor;
    }
}

body {
    color: $textPrimary;
    background-color: $primaryColor;
    font-family: sans-serif; // Alef
    user-select: none;
}

a{
    color: $textPrimary;
    text-decoration: none;
}