/// <reference path="_Vars.scss" />

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: $primaryColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $darkAccentColor;
  }
}

body {
  color: $textPrimary;
  font-family: sans-serif; // Alef
  user-select: none;
  overflow: hidden;
}

a {
  color: $textPrimary;
  text-decoration: none;
}

section#top {
  width: 100%;
  z-index: 9999999;
}

section#main {
  height: calc(100vh - 66px);
  overflow-y: auto;
  background-color: $primaryColor;
}

.hidden {
  display: none;
}
