/// <reference path="_Vars.scss" />

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: .8rem;
    }

    &::-webkit-scrollbar-track {
        background: $primaryColor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $darkAccentColor;
    }
}

body {
    color: $textPrimary;
    background-color: $primaryColor;
    font-family: sans-serif; // Alef
    user-select: none;
    overflow: hidden;
}

a{
    color: $textPrimary;
    text-decoration: none;
}

section#top {
    position: fixed;
    width: 100%;
    z-index: 9999999;
}

section#main {
    height: 100vh;
    overflow-y: scroll;
    padding: 66px 0 0 0;
}
