/// <reference path="_Vars.scss" />

.settingsWrapper {
    width: 100%;
    padding-left: 200px;

    .settingsNav {
        position: absolute;
        height: 100%;
        width: 200px;
        top: 66px;
        left: 0;
        background-color: $secondaryColor;

        ul {
            display: flex;
            flex-flow: column;
            position: absolute;
            list-style: none;
            width: 100%;
            height: calc(100% - 66px);
            overflow-y: auto;

            li {
                font-size: 24px;
                background-position: right;
                transition: all 150ms linear;

                a {
                    display: flex;
                    width: 100%;
                    padding: 10px 15px;
                    cursor: pointer;
                }

                &.save {
                    margin: auto 10px 10px 10px;
                    background-color: $qinaryColor;

                    a {
                        display: flex;
                        justify-content: center;
                    }
                }

                .active, &.save:hover, &:hover {
                    background-color: $primaryColor;
                    background: linear-gradient(to right, $primaryColor 50%, #f000 50%);
                    background-size: 200% 100%;
                    background-position: left;
                }
            }
        }
    }

    .settingsContent {
        width: 100%;
    }
}