/// <reference path="_Vars.scss" />

.settingsWrapper {
    .settingsNav {
        position: absolute;
        height: 100%;
        width: 200px;
        top: 66px;
        left: 0;
        background-color: $secondaryColor;

        ul {
            display: flex;
            flex-flow: column;
            position: absolute;
            list-style: none;
            width: 100%;
            height: calc(100% - 66px);
            overflow-y: auto;

            li {
                font-size: 24px;
                background-position: right;
                transition: all 150ms linear;

                a {
                    display: flex;
                    width: 100%;
                    padding: 10px 15px;
                    cursor: pointer;
                }

                .active, &.save:hover, &:hover {
                    background-color: $primaryColor;
                    background: linear-gradient(to right, $primaryColor 50%, #f000 50%);
                    background-size: 200% 100%;
                    background-position: left;
                }
            }
        }
    }

    .settingsContent {
        display: flex;
        align-items: center;
        flex-flow: column;
        position: absolute;
        right: 0;
        width: calc(100% - 200px);
        height: calc(100% - 66px);
        overflow-y: auto;

        .pageTitle {
            font-size: 30px;
        }

        .settings {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            margin: 15px 15px;
            width: 50%;

            .setting {
                width: 100%;
                margin: 15px 0;

                .title {
                    display: inline-flex;
                    font-weight: bold;
                    margin-bottom: 8px;
                }

                .checkBoxContainer {
                    margin-left: 5px;
                }
            }

            @media(max-width: 1000px) {
                width: 80%;
            }
        }
    }
}