// Colours
$primaryColor: #2D2B37;
$secondaryColor: #272530;
$tertiaryColor: #333440;
$qinaryColor: #32333F;
$darkAccentColor: #19181f;
$dangerColor: #c10000;
$lightHoverColor: rgba(79, 84, 92, 0.16);

$textPrimary: #e1e1e1;
$textPrimaryHover: rgba($textPrimary, .5);
