// Colours
$primaryColor: #2D2B37;
$secondaryColor: #272530;
$tertiaryColor: #333440;
$quaternaryColor: #1E1E25;
$darkAccentColor: #19181f;
$lightHoverColor: rgba(79, 84, 92, 0.16);

$safetyColor: #46E80E;
$dangerColor: #c10000;

$textPrimary: #e1e1e1;
$textPrimaryHover: rgba($textPrimary, .5);
