// Colours
$primaryColor: #2d2b37;
$secondaryColor: #272530;
$tertiaryColor: #333440;
$quaternaryColor: #1e1e25;
$darkAccentColor: #19181f;
$lightHoverColor: rgba(79, 84, 92, 0.16);

$safetyColor: #46e80e;
$dangerColor: #c10000;

$textPrimary: #e1e1e1;
$textPrimaryHover: rgba($textPrimary, 0.5);
