* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: $primaryColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $darkAccentColor;
  }
}

body {
  color: $textPrimary;
  font-family: 'Roboto Condensed', sans-serif;
  user-select: none;
  overflow: hidden;
}

a {
  color: $textPrimary;
  text-decoration: none;
}

.hidden {
  display: none !important;
}
