* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  &::-webkit-scrollbar-track {
    background: $primaryColor;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $darkAccentColor;
  }
}

body {
  color: $textPrimary;
  font-family: sans-serif;
  user-select: none;
  overflow: hidden;
}

a {
  color: $textPrimary;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

// Default nouislider styling
.noUi-target {
  border: unset;

  &,
  * {
    box-shadow: unset;
    outline: unset;
  }

  .noUi-handle {
    top: 0;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: $darkAccentColor;
    border: 1px solid $textPrimary;
    border-radius: 4px;
    cursor: grab;

    &::before,
    &::after {
      display: none;
    }

    &:active {
      cursor: grabbing;
    }
  }

  .noUi-tooltip {
    color: $textPrimary;
    background-color: $darkAccentColor;
    box-shadow: 0px 0px 8px $darkAccentColor;
  }
}

// Default slider styling
[type="range"] {
  outline: none;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    margin-top: -2px;
    background-color: $darkAccentColor;
    border: 1px solid $textPrimary;
    border-radius: 4px;
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track {
    height: 8px;
    background-color: $quaternaryColor;
    border-radius: 4px;
  }
}
