.notifierContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: change-color($color: $quaternaryColor, $alpha: 0.5);

  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    min-width: 500px;
    min-height: 150px;
    flex-flow: column;
    border-radius: 7px;
    background-color: rgba(25,24,31,0.5);
    box-shadow: 0 3px 2px rgba(0, 0, 0, .5);

    .title {
      font-size: 25px;
      padding: 5px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    .progressBar {
      width: 90%;
      height: 20px;
      background-color: $darkAccentColor;
      border-radius: 4px;
      box-shadow: 0 3px 2px rgba(0, 0, 0, .5) inset;

      .inner {
        height: 100%;
        border-radius: 4px;
        background-color: $tertiaryColor;
        background:
          -webkit-linear-gradient(-45deg, transparent 33%, #19181f 33%, #19181f 66%, transparent 66%),
          -webkit-linear-gradient(#333440, #333440);
        background-size: 40px 20px, 100% 100%, 100% 100%;
        transition: width 250ms ease-in-out;
        animation: progressConveyor 50s linear infinite;

        @keyframes progressConveyor {
          100% {
            background-position: 2000px 0;
          }
        }
      }
    }
  }
}
