.notifierContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: change-color($color: $quaternaryColor, $alpha: 0.5);

  .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    min-width: 500px;
    min-height: 150px;
    flex-flow: column;
    border-radius: 7px;
    background-color: rgba(25,24,31,0.5);
    box-shadow: 0 3px 2px rgba(0, 0, 0, .5);

    .title {
      font-size: 25px;
      padding: 5px;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    progress {
      -webkit-appearance: none;
      width: 90%;
      height: 20px;

      &::-webkit-progress-bar {
        background-color: $darkAccentColor;
        border-radius: 4px;
        box-shadow: 0 3px 2px rgba(0, 0, 0, .5) inset;
      }
      
      &::-webkit-progress-value {
        border-radius: 4px;
        background-color: $tertiaryColor;
      }
    }
  }
}
