/// <reference path="../Main.scss" />

.notificationContainer {
    position: absolute;
    background-color: $primaryColor;
    /*animation: slideIn 500ms ease-in forwards;*/

    .content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100vw;

        svg {
            width: 25%;
            fill: $textPrimary;
        }

        .title {
            width: 75%;
            font-size: 25px;
        }
    }

    /*@keyframes slideIn {
        0% {
            left: 100%;
            
        }

        100% {
            left: 0px;
        }
    }*/
}
