/// <reference path="_Vars.scss" />

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $textPrimary;
    background-color: $primaryColor;
    font-family: sans-serif;
    user-select: none;
}

a{
    color: $textPrimary;
    text-decoration: none;
}
