/// <reference path="_Variables.scss" />

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: $primaryBackground;
    user-select: none;
}
