<div class="dropDownContainer">
    <label>@Placeholder</label>
    <ul>
        @foreach (var item in @Items.Skip(1))
        {
            <li @onclick="@(e => SwitchItems(@item))">@item</li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public string[] Items { get; set; }

    public string Placeholder;

    protected override void OnInitialized()
    {
        Placeholder = Items.First();
    }

    public void SwitchItems(string itemClicked)
    {
        // Put placeholder in place of item clicked in Items array
        Items = Items.Select(s => s.Replace(itemClicked, Placeholder)).ToArray();

        // Update placeholder on dropdown with item clicked
        Placeholder = itemClicked;
    }
}
