<div class="textBox">
    <input type=@Type @bind="Placeholder" @onfocusout="@(e => InputLoseFocus())" />
    @ChildContent
</div>

@code {
  [Parameter]
  public string Name { get; set; }

  [Parameter]
  public string Placeholder { get; set; }

  [Parameter]
  public string Type { get; set; } = "text";

  [Parameter]
  public RenderFragment ChildContent { get; set; }

  [Parameter]
  public Action<string, string> OnLoseFocus { get; set; }

  private void InputLoseFocus()
  {
    OnLoseFocus(Name, Placeholder);
  }
}
