<div class="settingsNav">
    <ul>
        <li>
            <NavLink href="/settings/general">
                <span>General</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/settings/recording">
                <span>Recording</span>
            </NavLink>
        </li>
        <li>
            <NavLink href="/settings/keybinding">
                <span>Key Bindings</span>
            </NavLink>
        </li>
    </ul>
</div>
