* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: #e1e1e1;
  background-color: #2D2B37;
  font-family: sans-serif;
  user-select: none; }

a {
  color: #e1e1e1;
  text-decoration: none; }

nav {
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 48px;
  background-color: #272530; }
  nav ul {
    list-style: none;
    position: fixed; }
    @media (min-width: 910px) {
      nav ul {
        animation: comeDown 250ms forwards; } }

@keyframes comeDown {
  from {
    top: -100px; }
  to {
    top: 0px; } }
    nav ul li {
      display: inline-block;
      color: #e1e1e1;
      font-size: 24px;
      padding: 10px 15px;
      margin: 0 5px;
      cursor: pointer; }
      nav ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 250ms ease; }
      nav ul li svg {
        fill: #e1e1e1;
        margin: 0 8px 0 0;
        transition: fill 250ms ease; }
        @media (max-width: 910px) {
          nav ul li svg {
            transition: width 250ms ease;
            margin: 0;
            width: 80px; } }
        @media (max-width: 600px) {
          nav ul li svg {
            width: 20px; } }
      @media (max-width: 910px) {
        nav ul li span {
          display: none; } }
      nav ul li:hover a, nav ul li:hover svg {
        color: rgba(225, 225, 225, 0.5);
        fill: rgba(225, 225, 225, 0.5); }

.recordingsContainer {
  display: flex;
  justify-content: center;
  align-items: center; }

.thumbContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  max-width: 1600px; }
  .thumbContainer .thumb {
    flex-grow: 1;
    width: 25%;
    margin: 10px;
    background-color: #333440;
    border-radius: 4px;
    overflow: hidden; }
    .thumbContainer .thumb img {
      width: 100%;
      height: auto; }
    .thumbContainer .thumb .info {
      width: 100%;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
      background-color: #32333F; }
      .thumbContainer .thumb .info .title {
        font-family: 'Segoe UI';
        font-weight: 700; }
    @media (max-width: 800px) {
      .thumbContainer .thumb {
        width: 50%; } }
    @media (min-width: 800px) and (max-width: 1000px) {
      .thumbContainer .thumb {
        width: 33%; } }
    @media (min-width: 1200px) {
      .thumbContainer .thumb {
        width: 25%; } }

.settingsWrapper {
  width: 100%;
  padding-left: 200px; }
  .settingsWrapper .settingsNav {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 48px;
    left: 0;
    background-color: #272530; }
    .settingsWrapper .settingsNav ul {
      position: absolute;
      list-style: none;
      width: 100%; }
      .settingsWrapper .settingsNav ul li {
        font-size: 24px;
        transition: background-color 150ms ease; }
        .settingsWrapper .settingsNav ul li .active, .settingsWrapper .settingsNav ul li:hover {
          background-color: #2D2B37; }
        .settingsWrapper .settingsNav ul li a {
          display: flex;
          width: 100%;
          padding: 10px 15px; }

.dropDownContainer {
  position: relative;
  display: inline-block;
  min-width: 160px;
  padding: 8px;
  background-color: #272530;
  border-radius: 4px; }
  .dropDownContainer label {
    transition: all 250ms ease; }
  .dropDownContainer ul {
    display: none;
    max-height: 160px;
    margin-top: 5px;
    z-index: 1;
    overflow-y: auto;
    margin-right: 5px; }
    .dropDownContainer ul li {
      width: 100%;
      padding: 8px;
      list-style: none;
      background-color: #272530;
      border-radius: 4px;
      cursor: pointer; }
      .dropDownContainer ul li:hover {
        background-color: #333440; }
    .dropDownContainer ul::-webkit-scrollbar {
      width: 5px;
      background: #2D2B37; }
    .dropDownContainer ul::-webkit-scrollbar-thumb {
      background: #333440;
      -webkit-border-radius: 1ex; }
  .dropDownContainer:hover ul {
    display: block; }
