<nav>
    <ul>
        <li>
            <NavLink href="recordings">
                <Icon i="play" /> Recordings
            </NavLink>
        </li>
        <li>
            <NavLink href="uploadings">
                <Icon i="upload" /> Uploadings
            </NavLink>
        </li>
        <li>
            <NavLink href="settings">
                <Icon i="settings" /> Settings
            </NavLink>
        </li>
        <li>
            <NavLink href="profile">
                <Icon i="play" /> Profile
            </NavLink>
        </li>
    </ul>
</nav>
