<nav>
    <ul>
        <li>
            <NavLink>Recordings</NavLink>
        </li>
        <li>
            <NavLink>Uploadings</NavLink>
        </li>
        <li>
            <NavLink>Settings</NavLink>
        </li>
        <li>
            <NavLink>Profile</NavLink>
        </li>
    </ul>
</nav>

@code {

}
